extends ../_component/layout/template
block config
  -
    var myTitle = 'Learn to code HTML for beginners';
    var myDescription = 'HTML is easy and fun to learn';
    var landingPage = 'HTML';
    var activeLink = '';
block content
  h1=myTitle
  p=myDescription
  h2 HTML Elements
  p he HTML element is everything from the start tag to the end tag. HTML elements with no content are called empty elements. Empty elements do not have an end tag.
  h2 HTML Attributes
  p Attributes provide additional information about HTML elements.
  h2 HTML Headings
  p Each HTML heading has a default size. However, you can specify the size for any heading with the style attribute, using the CSS font-size property.