extends ../../_component/layout/template

block config
  -
    var myTitle = 'Learn to code CSS backgrounds for beginners';
    var myDescription = 'CSS backgrounds is easy and fun to learn!';
    var landingPage = 'CSS';
    var activeLink = '/css/backgrounds';
    
block content
  h1=myTitle
  p=myDescription
  h2 CSS Backgrounds
  p The background-image property specifies an image to use as the background of an element.