doctype html
html
  //- - var baseUrl = 'http://localhost:3000'
  - var baseUrl = 'https://biancalina.github.io/W3replica-site'
  block config
  head
    title=myTitle
    meta(name="description", content=myDescription)
    link(rel="stylesheet", href=`${baseUrl}/style.css`)
  body
    include ../header/header
    article
      block content
    include ../nav/nav
    include ../footer/footer
